    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container">
        <span class="text-muted float-end">Powered by php-autodiscover-autoconfig created by <a href="https://www.hostingbe.com" target="_blank" data-bs-toggle="tooltip" title="created by HostingBE">HostingBE</a> for <a href="https://emailreseller.com/" data-bs-toggle="tooltip" title="created for EmailReseller">EmailReseller</a>.</span>
      </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>
let tooltipelements = document.querySelectorAll("[data-bs-toggle='tooltip']");
tooltipelements.forEach((el) => {
    new bootstrap.Tooltip(el);
});
</script>
</body>
</html>