{% include "header.twig" %}

<div class="container">
	<h1 class="py-2">Automatic setup Apple mail</h1>
	<div class="row">
	<div class="col-12">
   Don't own an Apple device so please enlighten me with the right settings!
</div>
</div>
</div>

{% include "footer.twig" %}