{% include "header.twig" %}


<div class="container">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="max-height: 500px !important;">
    <div class="carousel-item active">
      <img src="https://dummyimage.com/900x300/FF4800/FFF&text=autodiscover+IMAP+settings!" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://dummyimage.com/900x300/FF4800/FFF&text=autoconfig+thunderbird+IMAP+settings!" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://dummyimage.com/900x300/FF4800/FFF&text=dummyimage.com+rocks!" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="container">
<div class="col-12">

<h1 class="py-5">My company generic e-mail settings</h1>
<p>This is a simple configuration page for using <strong>autodiscover and autoconfig</strong>. You can easily set up different email programs such as Outlook, Thunderbird and Apple mail by creating and downloading a configuration profile.</p>
<p>This program is made in PHP and the bootstrap framework. The email settings can be retrieved in different ways. For example via a file, but also via a database.</p>
</div>
</div>

{% include "footer.twig" %}
